<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>主力动向观测站</title>
    <link rel="shortcut icon" href="../favicon.ico">
    <!-- Latest compiled and minified CSS & JS -->
    <link rel="stylesheet" href="/public/layui/css/layui.css" media="all">
    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script> -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/r/bs-3.3.5/jq-2.1.4,dt-1.10.8/datatables.min.css">
    <script type="text/javascript" src="//cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
</head>
<style type="text/css">
.layui-nav {
    margin-left: 0px;
}

.header {
    height: 60px;
    border-bottom: none;
}

.layui-nav-right {
    position: absolute;
    right: 0px;
    top: 0;
}

.tb_body {
    padding: 15px;
}
</style>

<body>
    <div class="layui-layout layui-layout-admin" id='app'>
        {(view/menu.html)}
        <div class="layui-body tb_body" style="overflow-y:scroll;">
            <table id="table_one" class="table table-striped table-bordered" cellspacing="0" width="100%">
                <thead>
                    
                    <tr>
                       <th colspan="12">逆市主力资金流</th>
                    </tr>
                    <tr>
                         <th colspan="12">说明:委托20万以上，成交的金额算做主力流入流出资金</th>
                    </tr>
                    
                    <tr>
                        <th style="width: 10px;">排名</th>
                        <th style="width: 80px;">股票代码</th>
                        <th style="width: 100px;">股票名称</th>
                        <th style="width: 130px;" >大盘下跌时买入累计（万元)</th>
                        <th style="width: 130px;" >大盘上涨时卖出累计（万元)</th>
                        <th style="width: 130px;" >逆市主力资金净流向（万元）</th>
                        <th style="width: 130px;">进货次数(240/x)</th>
                        <th style="width: 130px;">出货次数(240/x)</th>
                        <th style="width: 130px;" id="tab4">进出差值(240/x)</th>
                        <th style="width: 60px;">涨幅</th>
                        <th style="width: 60px;">涨速</th>
                        <th style="width: 60px;">操作</th>
                    </tr>
                </thead>
            </table>
        </div>
        {(view/public_div.html)}
        </div>
        </body>
        <script src="https://unpkg.com/vue/dist/vue.js"></script>
        <script src="https://cdn.jsdelivr.net/vue.resource/1.2.1/vue-resource.min.js"></script>
        <script src="/public/layui/layui.js" charset="utf-8"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/r/bs-3.3.5/jqc-1.11.3,dt-1.10.8/datatables.min.js"></script>

        <script type="text/javascript">
        var stock_url ='/api/stock/nszl';
        var table_info = {
         stock_url: stock_url,
         columns: [{
                    "data": null,
                    'orderable': false
                }, {
                    "data": "cpy_id"
                }, {
                    "data": "name"
                }, {
                    "data": 'nxjlrjh'
                }, {
                    "data": "nxjlrch"
                }, {
                    "data": "nxjlr"
                }, {
                    "data": "jhcs"
                }, {
                    "data": "chcs"
                }, {
                    "data": "jcc"
                }, {
                    "data": "zf"
                }, {
                    "data": "zs"
                }, {
                	'data': null,
                	'orderable': false
                }],
         current: null
    };

        </script>
        <script type="text/javascript" src="/public/js/common.js?v2.10"></script>
        <script type="text/javascript" src="/public/js/table.js?v1"></script>
        <style type="text/css">
        td.error {
            background-color: #f04124;
            border-color: #de2d0f;
            color: #fff;
        }
        
        td.success {
            background-color: #43AC6A;
            border-color: #3a945b;
            color: #fff;
        }
        </style>


</html>
